*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    height: 100%;
    font-family: arial,sans-serif;
}

.options{
    font-size: 13px;
    color: rgb(41, 39, 39);
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.ul_opt{
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.mail{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
}
.mail:hover{
    text-decoration: underline;
}

.image{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

.image:hover{
    text-decoration: underline;
}

.tools{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
}
.tools img{
    height:1rem;
    width: 1rem;
    opacity: 0.6;
}

.account img{
    height: 2rem;
    width: 2rem;
    border-radius:10px;
}

.account{
    height:100%;
    border-radius: 50%;
    padding:10px 10px 10px 10px;
}
.account:hover{
    background-color: #f8f9fa;
}

.search{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.search_bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    height: 44px;
    width: 50%;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    z-index: 3;
    margin: 2rem 10rem 2rem 10rem;
}
.search_bar:hover{
    box-shadow:0 6px 10px 0 rgba(0, 0, 0, 0.19);
}
.search_bar input{
    border:none;
    height: 1.5rem;
    width: 100%;
    padding-left: 1rem;
}
.search_bar input:hover, .search_bar input:active, .search_bar input:focus{
    outline: none;
}
.search_bar img{
    width: 20px;
}
.search_ic{
    height:  20px;
    opacity: 0.4;
}
.voice_search{
    height: 25px;
}
.buttons{
    margin: 11px 4px;
    padding: 9px 15px 9px 15px;
    border: none;
    border-radius: 5px;
    background-color: #f8f9fa;
    font-family: arial,sans-serif;
}
button:hover{
    border:1px solid rgb(236, 236, 236);
    box-shadow: 0 2px 2px 0 rgb(226, 225, 225);
}
.foot{
    background-color: #f8f9fa;
    color: rgb(151, 150, 150);
    margin-top: 15%;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}
.foot ul{
    list-style: none;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
.foot ul li:hover{
    text-decoration: underline;
}
.foot ul li{
    padding:1rem 1rem 1rem 1rem;
}
